/*
#086972     dark blue       primary color
#01A9B4     middle blue     secondary color
#87DFD6     pale blue       tertiary color
#DB6400     orange          (used as an accent color for CTAs etc.)
*/
​
img {
  width: 20%; /* Makes the images scale correctly. */
}

/* Layout styling */
​
.container {
  padding: 0 0px; color: blue;
}

.row {
  margin: 0px 0; /* 25px top and bottom, 0 left and right */
}

#work .row { padding-bottom: 0px; border-bottom: 50px solid #FFFFFF; }

.center {
  text-align: center;
}

.logo {
  max-width: 50px;
}

.header {
  padding: 10px 0px 4px;
  background-color: #086972;
  color: #086972;
  font-size: 40px;
  margin: 15px 10px 15px 10px;  /* The order from left to right is: Top, right, bottom, left. */

}

main {
  padding-top: 56px;
}

min-width: 641px
nav > ul {
  margin: 1em 0;
}

.navtoggle li:not(:last-child) {
  display: inline-block;
}

.navtoggle li:last-child {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

 onclick="menuToggle()

nav > ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#hero {
  background-color: #ffe4c4;
  padding: 10px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 15px;
}

/* End of layout styling */

body {
  background-color: #FFFFFF;
  font-family: 'Droid', sans-serif; /* If the chosen font can't be loaded, the first Google font of the sans-serif typeface that can be found on the user's computer will be loaded. */
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
} /* End of body */


h1, h2, h3, h4 {
  line-height: 1.4;
}
​
h1 {
  font-size: 2.75em; /* "em" is a percentage value. */
  font-weight: 700;
}
​
h2 {
  font-size: 2.25em;
  font-weight: 700;
}
​
h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.container {
  padding: 0 15px;
}
​
.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}
​
#hero h1 {
  text-align: center; /* Centers text */
}
​
#hero span {
  display: block;
}
​
nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}
​
nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}
​
/*
font-weight: bold;              (emboldens a font, although it’s better to use the weight as set in the font link: 300, 400, or 700)
font-style: italic;             (italicizes a font, though make sure you selected it in Google fonts, as well)
font-variant: small-caps;       (transforms all lowercase letters into small caps—uppercase letters set at the same height as their surrounding lowercase letters)
text-transform: uppercase;      (transforms all letters to uppercase so that you don’t need to write all uppercase in your HTML)
text-decoration: underline;     (underlines a piece of text)
*/


.footer-icons {
  width: 10px;
}
​
footer {
  background: var(--primary-700);
  color: #086972 ; /* Color is not applied. */
}


/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

/* ==============================
Medium devices (1024px and larger)
================================= */
@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

/* ==============================
Medium devices (1440px and larger)
================================= */
@media only screen and (min-width: 1440px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }


.col-md-6 {
  width: 50%;   /* md = medium size; col = columns; The 6 indocatces a six column-span */
}

[class*="col-"] {
  float: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 { margin-top: 0;}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}


/*
The button class should be at the end of the css document,
to make sure it is not overridden by other classes, if these
classes would follow up this one.
 */


/*
Correct order:
1.) visited
2.) hover
3.) active
*/
​
a:visited { /* visited link */
  color: #8e5540;
}
​
a {
  color: #086972;
  text-decoration: none; /* No underlining */
}
a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}
​
a:active { /* selected link */
  color: #994c30;
}

button {
  display: inline-block;                /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #fffffd;                       /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;    /* width of the border, type, color */
  transition: 0.2s opacity;
}
​
.button:hover {
  opacity: 0.5;                        /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}
​
.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}
​
.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}
​
.button.contact:active {
  background-color: #ff7f50;
  color: #ffffff;
}
​
/* End of: Button class */


​
